body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;

    height: 500px;
    -webkit-app-region: drag;

    /*width: 100%;*/
    /*height: 100%;*/
}

#showVideo {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

video {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

ul, div {
    /*background-color: rgba(255, 255, 255, 0.1);*/
}


a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);

    -webkit-app-region: no-drag;
    cursor: pointer;
}

a:hover {
    color: white;
}

#playlist {
    cursor: default;

    /*display: table-cell;*/
    /*vertical-align: middle;*/

    z-index: 2;

    padding: 0;
    margin: 0;

    position: fixed;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    bottom: 20px;
    left: 25px;

    /*background-color: rgba(255, 255, 255, 0.5);*/

    color: rgba(255, 255, 255, 0.6);

    list-style-type: none;
    /*vertical-align: bottom;*/

    /*padding-bottom: 5px;*/
}

#playlist li {
    margin-top: 5px;
}

#playlist li:hover {
    color: white;
    cursor: pointer;
}

.tag {
    position: absolute;
    /*background-color: red;*/
    top: 50%;
    left: 50%;
    /*left: 0;*/
    padding-left: 150px;

    /*transform: rotate(50deg);*/
    transform-origin: left top;
    color: rgba(255, 255, 255, 0.6);

    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    /*display: none;*/
}

.tag:hover {
    color: rgba(255, 255, 255, 0.9);
}

.select {
    color: white;
}

#equalizer {
    position: fixed;
    bottom: -5px;
    right: 0;

    /*border-radius: 5px;*/
    /*background-color: red;*/
}

.line {

    /*position: relative;*/
    /*border-left: solid white;*/
    width: 1px;
    margin-right: 1px;
    /*height: 100px;*/

    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
}