body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;

    /*for drug*/
    height: 500px;
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    -webkit-app-region: drag;
}

a {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

/*#drop {*/
    /*position: absolute;*/
    /*bottom: 15px;*/
    /*left: 20px;*/
    /*color: rgba(255, 255, 255, 0.6);*/
/*}*/

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

a:hover {
    color: white;
}

#track {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.tag {
    position: absolute;
    /*background-color: red;*/
    top: 50%;
    left: 50%;
    /*left: 0;*/
    padding-left: 150px;

    /*transform: rotate(50deg);*/
    transform-origin: left top;
    color: rgba(255, 255, 255, 0.5);

    cursor: pointer;

    /*display: none;*/
}

.tag:hover {
    color: rgba(255, 255, 255, 0.9);
}

#tag1 {
    transform: rotate(-30deg);
}

#tag2 {
    transform: rotate(-20deg);
}

#tag3 {
    transform: rotate(-10deg);
}

#tag4 {
    transform: rotate(0deg);
}

#tag5 {
    transform: rotate(10deg);
}

#tag6 {
    transform: rotate(20deg);
}

/*.tag:hover~.tag {*/
    /*display: block;*/
/*}*/

/*.circle:hover~.tag {*/
    /*display: block;*/
/*}*/


